html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.logo {
    width: 25%;
    height: 25%;
    margin-right: 20px;
    border: #444142;
}

.main-conteiner {
    padding-top: 40px;
    margin: auto;
    word-wrap: break-word;
}

/*.main-wrapper {
    margin-top: 4%;
    margin-bottom: 6%;
}*/

.navbar-dark {
    background-color: #444142;
}

.nav-link {
    color: #ffffff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-width {
    width: 80%;
}

.bg-dark {
    background-color: #222;
}

footer {
    background-color: #222;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 3;
    text-align: center;
    margin-top: 2%;
}

button {
    background-color: #0f8387;
    border: none;
    color: white;
    padding: 20px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #51a39c;
    color: white;
    text-decoration: none !important;
}

.img_term {
    height: 250px;
    width: auto;
}

#mark_compare_word {
    background-color: #0f8387 !important;
}

.welcome-title {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 1%;
    line-height: 140%;
    max-width: 65%;
}

.welcome-wrapper {
    margin-top: 0;
    height: 90%;
    width: 100%;
    background-image: url("https://limba.wzks.uj.edu.pl/18_nowocien/projekt-magisterski/static/images/business-g94e2dc99c_1920.jpg") !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
}

.form-backgrouond {
    margin-top: 0;
    height: 90%;
    color: revert;
    background-color: cadetblue;
    /*background-image: url('https://cdn.pixabay.com/photo/2015/01/08/07/41/euro-592516_960_720.png') !important;*/
    background-image: url("https://limba.wzks.uj.edu.pl/18_nowocien/projekt-magisterski/static/images/graph-g521c39209_1920.png") !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;

}

.tall-page {
    margin-left: 20%;
    margin-right: 20%;
}

.form-text {
    margin-top: 5%;
    font-size: xxx-large;
    font-weight: 550;
    color: revert;
    text-align: center;
    margin-top: 5%;
    line-height: 140%;
    max-width: 55%;
}

.welcome-container {;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.text {
    line-height: 150%;
}

.welcome-button {
    margin-top: 28%;
    text-align: center;
    background-color: #0f8387;
    max-width: fit-content;
    padding: 20px;
    font-size: xx-large;
}

.text-wrapper {
    margin-top: 5%;
    margin-bottom: 10%;
}

.long-text {
    max-width: 70%;
}

.answer-wrapper {
    max-width: 85%;
}

.prerender-container {
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.prerender-button {
    width: 150px;
}