{% extends 'base.html' %}
{% block main_content %}
<section class="main-wrapper">
    <div class="container center text-wrapper">
        <h1 class="center"> O serwisie </h1>
        <h4 class="center text">
            Autorem niniejszego serwisu jest Jakub Nowocień. Serwis ten stanowi integralną część pracy magisterskiej
            (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem prof. dr hab. Mariusz
            Flasiński
            na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
        </h4>
    </div>
</section>
{% endblock %}