{% extends 'base.html' %}
{% block main_content %}
<section class="main-wrapper">
    <div class="container center text-wrapper">
        <h1 class="center"> O systemie </h1>
        <h4 class="center text">
            Zadaniem systemu jest analiza wykresów przedstawionych w wyszukiwarce Google. System wykorzystuje do tego
            celu
            gramatykę obrazu oraz algorytm Levenshteina. System dokonuje dogłębnej analizy wykresów w celu poszukiwania
            wzorca ekonomicznego, statystycznie odpowiedzialnego za wzrosty/spadki cen akcji przedstawionych na
            wykresie.
            Wzorzec pozwala przewidzeić kierunek ruchu cen akcji w przyszłości.
        </h4>
    </div>
</section>
{% endblock %}