{% extends 'base.html' %}
{% block main_content %}
<section>
    <div class="container center">
        <h2 class="text-center"> Coś poszło nie tak :( </h2>
        <br>
        <h4>
            Sprawdź czy Google dla Twojej frazy przezetuje wykres SVG i spróbuj
            później lub skontaktuj się z administaratorem <!--przez poniższy formularz w celu naprawy-->
        </h4>
        <br>

    </div>
    <!--    TODO:Nice option is add form to send email to admin. But is not necessary.-->

    <!--        <div class="container center newsletter">-->
    <!--            <h3>Send e-mail to someone@example.com:</h3>-->

    <!--            <form action="mailto:jakub.nowocien@student.uj.edu.pl" method="post" enctype="text/plain">-->
    <!--                Imie:-->
    <!--                <input class="input-lg" type="text" name="name"><br><br>-->
    <!--                E-mail:-->
    <!--                <input class="input-lg" type="text" name="mail"><br><br>-->
    <!--                Wiadomość:-->
    <!--                <input class="input-lg" type="text" name="comment" size="50" height="50"><br><br>-->
    <!--                <input class="btn-lg" type="submit" value="Send">-->
    <!--                <input class="btn-lg" type="reset" value="Reset">-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->


    <!--@TODO jest w html znacznik dający szyvki kontakt i wysyłający automatycznie na maila-->
</section>
{% endblock %}