{% extends 'base.html' %}
{% block main_content %}
<section>
    <div class="welcome-wrapper text-center form-backgrouond">
        <h1 class="center form-text">
            Wpisz nazwę podmiotu notowanego na giełdzie, którego cenę akcji przedstawia wykres w wyszukiwarce
            Google
        </h1>
        <form action="{{ url_for('render_answer') }}" method="post">
            <input class="input-lg" type="text" name="name" placeholder="wig20"></input>
            <button class="btn-dark btn-lg" type="submit">Wyślij</button>
        </form>
        <div class="prerender-container">
            {% for item in prerender_analize %}
                <form action="{{ url_for('render_answer') }}" method="post">
                    <button class="input-lg prerender-button " type="submit" name="name" value="{{ item }}"> {{ item }}</button>
                </form>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}