{% extends 'base.html' %}
{% block main_content %}
<section>
    <div class="container">
        <h1 class="center text-center"> Instrukcja </h1>
        <br>
        <h4 class="center">
            W celu zapoznania się z instrukcją, proszę obejrzeć film instruktażowy.
        </h4>
        <!--    TODO: Dodaj film instruktażowy-->
        <!--    TODO: Responsywne style-->
        <iframe
                class="center"
                height="350px"
                src="https://www.youtube.com/embed/IPXIgEAGe4U"
                title="Panic! At The Disco - High Hopes (Official Video)"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
        ></iframe>
    </div>
</section>
{% endblock %}