{% extends 'base.html' %}
{% block main_content %}
<section style="height: 100%;">
    <h1> Instrukcja </h1>
    <p class="">
        W celu zapoznania się z instrukcją, proszę obejrzeć film instruktażowy.
    </p>
<!--    TODO: Dodaj film instruktażowy-->
<!--    TODO: Responsywne style-->
    <iframe
            width="1000px"
            height="500px"
            src="https://www.youtube.com/embed/IPXIgEAGe4U"
            title="Panic! At The Disco - High Hopes (Official Video)"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
    ></iframe>
</section>
{% endblock %}