{% extends 'base.html' %}
{% block main_content %}
<section>
<!--@TODO napisać welcome-->
<!--https://pixabay.com/pl/illustrations/kryzys-energetyczny-wzrost-ceny-7493926/?fbclid=IwAR3GkL7l1ZCE4PhoV-u8_0KqY9n4FzAxtWs1rQCp6ZtybmFMqwlv9a0leZQ-->
<!--https://pixabay.com/pl/illustrations/gie%c5%82da-papier%c3%b3w-warto%c5%9bciowych-byk-6699421/?fbclid=IwAR2_mRUOXQqz75WerUuGijcumfXnPJXU_JRzmjrkYZevuy2_aHJ-krafN0A-->
<!--https://pixabay.com/pl/illustrations/tendencja-wykres-waluta-zwi%c4%99ksza%c4%87-7002202/?fbclid=IwAR0WxUnLY4KLPW5_B6jsvLIS5Jslg5WaTzaDWfrk1CEm2IZrLzY3HM6lHCo-->
    <img src="/static/images/stock-exchange-gf296449c9_1920.jpg" />
</section>
{% endblock %}