{% extends 'base.html' %}
{% block main_content %}
<section>
    <div class="welcome-wrapper">
        <div class="welcome-container center">
            <h1 class="welcome-title center text-center">
                System do syntetycznej analizy wykresów giełdowych pozyskiwanych z wyszukiwarki Google
            </h1>
            <a class="button-link center" href="{{ url_for('send_photo') }}" >
                <button class="center welcome-button btn btn-primary btn-lg">
                    Rozpocznij analizę
                </button>
            </a>
        </div>
    </div>
</section>
{% endblock %}